<h1 class="border-bottom text-dark pb-2"><%= t('heading.editing_event') %></h1>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= render 'form' %>
  </div>
</div>
<div class="row pt-4">
  <div class="col-md-6 buffer-top">
    <h3><%= t('heading.delete_event') %></h3>
    <%= link_to t('links.delete_event'), event_path(@event),
                data: {confirm: t('questions.are_you_sure')},
                method: :delete, class: 'btn btn-danger' %>
  </div>
</div>
