<h1 class="border-bottom text-dark pb-2"><%= t('heading.event') %></h1>


<div class="buffer-both">
  <%= link_to  t('links.Ñreate_event'), new_event_path, class: 'btn btn-success' %>
</div>

<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
</div>
