<div class="row">
  <div class="col-4">
    <h3 class="text-dark"><%= t('errors.not-found.title') %></h3>
    <p class="text-secondary pt-2"><%= t('errors.not-found.messeges') %> <%= link_to t('links.to_home_errors'), root_path, class: 'text-info' %>.</p>
  </div>
  <div class="col-8 errors">
  </div>
</div>
