<footer class="footer text-center border-top">
  <small>
    The <%= link_to "«BBQ!»", root_path %>
    by <a href="https://github.com/kkrasilov/" rel="noopener noreferrer" target="_blank">Konstantin Krasilov</a>
  </small>
</footer>
